<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INumberSequence" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50294/NumberSequence.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INumberSequence"
                contract="NumberSequenceServiceReference.INumberSequence"
                name="BasicHttpBinding_INumberSequence" />
        </client>
    </system.serviceModel>
</configuration>